.app-header {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-family: "Arial", sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a subtle 3D effect */
    border-radius: 5px;
    margin-bottom: 20px;
  }


.app-header h1 {
    margin: 0;
  }
  
.app-header a img {
    width: 50px; /* Adjust size as needed */
    height: auto;
}